html {
    font-size: 62.5%;
}
/*#533131 - red */
body {
    margin: auto;
    background-size: cover;
    background-color: #000000;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.4rem;
    color: #FFFFFF;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

/* blocks */
.header {
    z-index: 100;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 8rem;
    background-color: #2A2424;
    box-shadow: 0 1.1rem 2.2rem rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
}

.header__navigation {
    width: 90%;
    height: 8rem;
}

.header__login{
    width: 10%;
    height: 8rem;
}

.main {
    padding-top: 20rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.nav__list {
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}

.nav__log {
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav__item {
    position: relative;
    list-style-type: none;
}

.nav__login{
    margin: 0;
    padding: 0;
    margin-top: 0.6rem;
    list-style-type: none;
}


.nav__item:hover .nav__link {
    background-color: #8C1313;
}

.nav__item:hover > .subnav {
    display: block;
}

.nav__link {
    display: block;
    padding: 3.2rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color .2s linear;
}

.container {
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
}

.block_info {
    position: absolute;
    top: 10rem;
    max-width: 42%;
    margin-left: 3%;
}

.block_blur {
    position: absolute;
    top: 10rem;
    right: 12rem;
    max-width: 43%;
    margin-left: 3%;
}

.block_about {
    padding-top: 10rem;
    margin: auto;
    max-width: 66%;
}

.post {
    margin-bottom: 3rem;
    padding: 2.5rem;
    overflow: hidden;
    background-color: rgba(42, 36, 36, 0.82);
    box-shadow: 0 15px 25px rgba(42, 36, 36, 0.82);
    border-radius: 5px;
}

.post__header {
    margin: -2.5rem -2.5rem 2.5rem;
}

.post__content {
    margin-bottom: 2rem;
}

.post__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #FFFFFF;
    font-weight: 500;
}

.post__title a {
    color: inherit;
    text-decoration: none;
}

.post__title a:hover {
    text-decoration: underline;
}

.post__text {
    font-size: 1.4rem;
    color: #D2D2D2;
}

.post__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.post__data {
    display: -ms-flexbox;
    display: flex;
    color: #828282;
    line-height: 1.2;
}

.post__data a {
    color: inherit;
    text-decoration: none;
}

.post__data a:hover {
    text-decoration: underline;
}

.post__data-item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1.5rem;
    position: relative;
    top: -2px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.post__read {
    font-size: 1.4rem;
    color: #107EFF;
    text-decoration: none;
}

.post__read:hover {
    text-decoration: underline;
}

.background{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 8rem;
    z-index: -1;
}

.block_mini_match{
    overflow: hidden;
    display: flex;
    display: -ms-flexbox;
    background-color: rgba(42, 36, 36, 0.82);
    box-shadow: 0 15px 25px rgba(42, 36, 36, 0.82);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 60%;
}
.block_id_match{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.block_pic{
    position: relative;
    margin-left: 0;
    margin-right: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}
.block_name{
    position: relative;
    margin: auto;
    margin-right: 2rem;
    margin-left: 0;   
}

.block_kda{
    position: relative;
    box-sizing: border-box;
    margin: auto;
    margin-left: 0;
    margin-right: 3rem;
}
.block_time{
    position: relative;
    margin: auto;
    margin-right: 3rem;
}
.block_date{
    position: relative;
    margin: auto;
    margin-right: 8rem;
    margin-left: 1rem; 
}
.win{
    font-size: 1.4rem;
    font-weight: 700; 
    color: #27A342;
}
.defeat{
    font-size: 1.4rem;
    font-weight: 700; 
    color: #D13621;
}
