.header {
    display: flex;
    width: 100%;
    height: 8rem;
    background-color: $header_bar;
    box-shadow: 0 1.1rem 2.2rem rgba(0,0,0, .25);
    position: fixed;
    top: 0;
    right: 0;
}

.header__navigation{
    width: 90%; 
    height: 8rem;
}
.header__login{
    width: 10%;
    height: 8rem;
}