.nav__list{
    display: flex;
    margin: 0 auto;
}

.nav__log{
    display: flex;
    margin: 0 auto;
}

.nav__item {
    position: relative;
    list-style-type: none;
    &:hover {
        .nav__link {
            background-color: $red;
        }

        > .subnav {
            display: block;
        }
    }
}

.nav__link{
    display: block;
    padding: 3.2rem 2rem;
    
    font-size: 1.8rem;
    text-transform: uppercase;
    color:$white;
    text-decoration: none;
    
    transition: background-color .2s linear;    
}

