.post {
    margin-bottom: 3rem;
    padding: 2.5rem;
    overflow: hidden;

    background-color: rgba(#2A2424, .82);
    box-shadow: 0 15px 25px rgba(#2A2424, .82);
    border-radius: 5px;
}

.post__header {
    margin: -2.5rem -2.5rem 2.5rem;
}


.post__content {
    margin-bottom: 2rem;
}

.post__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: $white;
    font-weight: 500;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.post__text {
    font-size: 1.4rem;
    color: #D2D2D2;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__data {
    display: flex;

    color: #828282;
    line-height: 1.2;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.post__data-item {

    &:not(:last-child):after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 1.5rem;
        position: relative;
        top: -2px;

        border-radius: 50%;
        background-color: #C4C4C4;
    }
}

.post__read {
    font-size: 1.4rem;
    color: #107EFF;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}





